.post-show {
}

.post-edit {
  text-align: center;
}

.post-title {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 1.25em;
  text-align: center;
}

.post-contents {
  font-size: 1.25em;
  line-height: 140%;

  a {
    color: darken($color_accent, 16);
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }

  h1, h2, h3, h4 {
    line-height: 120%;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    margin-top: 2em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }
}
