#posts-list {
  .posts-list-post {
    display: grid;
    grid-template-columns: 15em auto;

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    &-left {
      grid-column: 1;
      text-align: right;
      margin-right: 2em;
      margin-top: 0.6em;

      .posts-list-post-date {
        color: $color_text_light;
        margin-bottom: 1em;
      }

      .posts-list-post-date-updated {
        color: $color_text_lighter;
      }
    }

    &-right {
      grid-column: 2;

      .posts-list-post-title {
        font-size: 1.75rem;
        line-height: 130%;
        margin-bottom: 0.5em;
        color: $color_text_darkest;
      }

      .posts-list-post-tagline {
        color: $color_text_dark;
        line-height: 150%;
      }
    }
  }
}
