.post-show {
  max-width: 100%;
}

.post-title {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  text-align: center;
}

.post-tags {
  text-align: center;
  margin-bottom: 2.5em;
  color: $color_text_light;

  ul {
    li {
      display: inline-block;
      margin-right: 3em;
    }
  }
}

.post-contents {
  font-size: 1em;
  line-height: 140%;

  @include sm {
    font-size: 1.25em;
  }

  a, a:visited {
    color: darken($color_accent, 16);
    
    &:hover {
      color: $color_accent;
    }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }

  h1, h2, h3, h4 {
    line-height: 120%;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    margin-top: 2em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }
}
